################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/numfortune/CopilotIndices/17.12.53.23981
/.vs/numfortune/DesignTimeBuild
/.vs/numfortune/FileContentIndex
/.vs/numfortune/v17
/numfortune/bin
/numfortune/obj
/.vs/ProjectEvaluation
/.vs/numfortune/CopilotIndices/17.13.430.18484
/.vs
